h1 {
    color: red;
    text-align: center;
}
p {
    color: #add8e6;
}
div.card {
    margin: 20px;
    float: left;
    width: 540px;
    height: 500px;
}
div.card img {
    width: 100%;
    height: 100%;
}