h1 {
    color: red;
    text-align: center;
}
p {
    color: #add8e6;
    padding-left: 20px;
}
div.card {
    padding: 20px;
    float: left;
}

div.gallery{
    display: grid;
    width: 1100px;
    margin: auto;
    grid-template-columns: auto auto auto;
}

div.card img {
    width: 100%;
    height: 250px;
}
div.description {
    padding: 0 20px 0px 20px;
    text-align: justify;   
}

#im9 {
    display: none;
}

#im9:target {
    display: block;
    width: 800px;
    height: 600px;
}
#im8 {
    display: none;
}

#im8:target {
    display: block;
    width: 800px;
    height: 600px;
}
#im7 {
    display: none;
}

#im7:target {
    display: block;
    width: 800px;
    height: 600px;
}
#im6 {
    display: none;
}

#im6:target {
    display: block;
    width: 800px;
    height: 600px;
}
#im5 {
    display: none;
}

#im5:target {
    display: block;
    width: 800px;
    height: 600px;
}
#im4 {
    display: none;
}

#im4:target {
    display: block;
    width: 800px;
    height: 600px;
}
#im3 {
    display: none;
}

#im3:target {
    display: block;
    width: 800px;
    height: 600px;
}
#im2 {
    display: none;
}

#im2:target {
    display: block;
    width: 800px;
    height: 600px;
}
#im1 {
    display: none;
}

#im1:target {
    display: block;
    width: 800px;
    height: 600px;
}
